.NavLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
:active {
  color: black;
}
.NavLink:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
