.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.userImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.searchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
